*{
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
    gap: 2%;
}

.container__detil{
    padding-bottom: 100px;
}

.container__detil-item{
    width: 40%;
}

.container__detil-item--img{
    width: 100%;
}

.container__detil-content{
    width: 58%;
}

.container__detil-content__heading{
    font-size: 30px;
    color: var(--text-color);
    font-weight: 400;
}

.container__detil-content__ratting{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__detil-content-item{
    display: flex;
    gap: 15px;
    font-size: 15px;
    color: var(--text-color);
}

.container__detil-content__ratting-primary{
    color: var(--primary-color);
}

.container__detil-content__ratting-text{
    margin-right: 10px;
}

.separate{
    position: relative;
}

.separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    height: 16px;
    right: -0.8rem;
    top: 2%;

}

.container__detil-content-price{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fafafa;
    padding: 15px 0;

}

.container__detil-content-price--old{
    text-decoration: line-through;
    font-size: 12px;
    margin-left: 15px;
    color: #9d9db6;
}

.container__detil-content-price--current{
    font-size: 20px;
    color: var(--primary-color);
}

.container__detil-content--sele{
    font-size: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 2px;
    border-radius: 2px;
}

.container__detil-content__transport{
    display: flex;
    gap: 30px;
    margin: 30px 0 0 15px;
}

.container__detil-content__transport-1{
    font-size: 17px;
    color: var(--text-color);
}

.container__detil-content__transport--address{
    display: flex;
    align-items: center;
}

.container__detil-content__transport--address__icon{
    font-size: 13px;
    margin-right: 3px;
}

.container__detil-content__transport--address-1{
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;
}

.container__detil-content__transport--address-2{
    font-size: 16px;
}

.container__detil-content__transport--free{
    display: flex;
    gap: 23px;
    margin-top: 10px;
}

.container__detil-content__transport--free-1{
    font-size: 17px;
    margin-left: 17px;
}

.container__detil-content__transport--free-2{
    font-size: 16px;
}

.container__detil-content--size{
    display: flex;
    gap: 80px;
    margin-top: 30px;
}

.container__detil-content--size-1{
    font-size: 17px;
    margin-left: 15px;
    color: var(--text-color);
}

.container__detil-content--size-2{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.container__detil-content--size-2__number{
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    margin-top: 3px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.container__detil-content--size-2__number:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.container__detil-content__amount{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.container__detil-content__amount-1{
    font-size: 17px;
    margin-left: 15px;
    margin-right: 35px;
}

.container__detil-content__amount-2{
    display: flex;
    align-items: center;
}

.container__detil-content__amount-2__number{
    font-size: 17px;
    padding: 5.7px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.container__detil-content__amount-icon{
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.container__detil-content__amount-3{
    font-size: 17px;
    color: var(--text-color);
    margin-left: 5px;
}

.container__detil-content__buy{
    margin: 25px 0 0 15px;
    display: flex;
    gap: 20px;
}

.container__detil-content__buy-1{
    display: flex;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    font-size: 20px;
    gap: 10px;
    color: var(--primary-color);
    background-color: #ffeee8;
    border-radius: 5px;
    cursor: pointer;
}

.container__detil-content__buy-2{
    padding: 10px 20px;
    background-color: var(--primary-color);
    display: flex;
    border-radius: 5px;
    align-items: center;
    font-size: 20px;
    color: var(--white-color);
    cursor: pointer;
}

.container__detil-content__buy-2:hover,
.container__detil-content__buy-1:hover
{
    opacity: 0.8;
}